*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.8px;
}

body{
    background-color: white;
    padding: 20px 40px 40px 40px;
}

.logo{
    height: 160px;
}

a{
    color: #222222;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;

}

.nav-item{
    margin: 2vh 0;
    display: flex;
    justify-content: space-between;
    width: 24.5vw;
}

.nav-items{
    width: 7.8vw;
    display: flex;
    justify-content: center;
    font-size: 120%;
}

.nav-items:hover{
    opacity: 0.8;
}


.title{
    display: flex;
    padding: 2vh 1vw;
    font-size: 574%;
    letter-spacing: -4px;
    background: -webkit-linear-gradient( #7e7e7e,#eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.recommended{
    font-size: 140%;
    display: flex;
    color: #222222;
    margin: 30px 0;
}

.r-icons{
    width: 80px;
    margin-bottom: 20px;
}

.card-title{
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 10px;
}

.card{
    background-color: #F9F9F9;
    width: 31%;
    padding: 20px;
    margin-bottom: 80px;
    color: #222222;
    transition: 0.3s;
}

.card:hover{
    opacity: 0.8;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.para{
    margin-bottom: 40px;
    font-size: 120%;
    color: #222222;
}

.p-title{
    font-size: 180%;
    margin: 10px 0;
}

.note{
    color: #222222;
    font-size: 180%;
    margin-bottom: 40px;
}

.p-para{
    font-size: 100%;
    letter-spacing: 0px;
    width: 50vw;
}

.r-center{
    margin: 2vh auto;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 800px) {
    .r-center{
        display: block;
    }
    .p-para{
        width: auto;
    }
    body{
        padding: 10px 24px 24px 24px;
    }
    .nav-item{
        display: block;
        width: auto;
    }
    .nav-items{
        width: auto;
        font-size: 90%;
        padding: 2vh 0;
    }
    .title{
        font-size: 300%;
    }

    .note{
        font-size: 140%;
    }
    .flex{
        display: block;
    }

    .card{
        width: auto;
        margin-bottom: 40px;
    }
}